<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="uMDGUI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <uMDGUI.Settings>
            <setting name="Multiplier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UnitCorrectionFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AveragingValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AngleCorrectionFactor" serializeAs="String">
                <value>32.61</value>
            </setting>
            <setting name="Angle_Reflector_Spacing" serializeAs="String">
                <value>32.61</value>
            </setting>
            <setting name="SLCoefficient" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="SSCoefficient" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="Temperature" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="Pressure" serializeAs="String">
                <value>760</value>
            </setting>
            <setting name="Humidity" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="TempUnits" serializeAs="String">
                <value>Degrees C</value>
            </setting>
            <setting name="PressureUnits" serializeAs="String">
                <value>mm/Hg</value>
            </setting>
            <setting name="TempFactor" serializeAs="String">
                <value>1.0000000</value>
            </setting>
            <setting name="PresFactor" serializeAs="String">
                <value>1.0000000</value>
            </setting>
            <setting name="HumiFactor" serializeAs="String">
                <value>1.0000000</value>
            </setting>
            <setting name="VacuumWavelength" serializeAs="String">
                <value>632.991372</value>
            </setting>
            <setting name="TFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ECFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ScrollFactor" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TMREFFrequency" serializeAs="String">
                <value>3.75</value>
            </setting>
            <setting name="TMWaveformFlag" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="TMUnitsFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value>LogFile1.txt</value>
            </setting>
            <setting name="DFT_Skip_Factor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="InterpolationFlag" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DiagnosticReadoutFlag" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ErrorDetectionFlag" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TemperatureCompAutoFlag" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PressureCompAutoFlag" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HumidityCompAutoFlag" serializeAs="String">
                <value>0</value>
            </setting>
        </uMDGUI.Settings>
    </userSettings>
</configuration>
